html {
    background: lightgoldenrodyellow;
    height: 100%;
}

body {
    text-align: center;
    width: 80%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    background: white;
}

header {
    background: goldenrod;
    color: white;
}

nav {
    padding: 10px;
}

nav > button {
    width: 100px;
    background: none;
    border: none;
}

nav > button:hover {
    color: blue;
}

nav > button.selected {
    color: red;
}

img {
    max-height: 300px;
    max-width: 100%;
    padding: 5px;
    border: solid black 1px;
}

h1 {
    margin: 0;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

div {
    width: 50%;
    padding: 10px;
}

.playstatus {
    margin-top: 30px;
}

span {
    padding: 5px;
}

p {
padding: 10px;
}

.interaction {
    padding-top: 80px;
}

.btn-start {
    background: lightgray;
}

.btn-used {
    text-decoration: line-through;
}

.btn-wrong {
    background: pink;
}

.btn-right {
    background: palegreen;
}

.btn-end {
    background: darkgray;
}

.letterbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

button {
    width: 40px;
    padding: 10px 0;
}

footer {
    background-color: goldenrod;
    color: white;
    margin-top: 50px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }

footer > p {
    -webkit-margin-after: 0;
}

.name {
    color: palegoldenrod;
    font-weight: 600;
    padding: 0;
}

/* for mobile width, stack two main divs */
@media (max-width: 900px) {
    body {
        width: 100%;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .interaction {
        padding-top: 0;
    }
}