main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

div {
    width: 50%;
    padding: 10px;
    text-align: center;
}

span {
    padding: 5px;
}

img {
    max-height: 300px;
    max-width: 100%;
    padding: 5px;
    border: solid black 1px;
}

.interaction {
    padding-top: 80px;
}

.btn-off {
    text-decoration: line-through;
    background: pink;
}

.letterbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

button {
    width: 40px;
    padding: 10px 0;
}